[Unit]
Description=fHDHR Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/opt/fhdhr/fhdhr.sh
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
